
:root{

    --color-Bright-Red: hsl(12, 88%, 59%);
    --color-Dark-Blue: hsl(228, 39%, 23%);
    --really-dark-blue:hsl(228, 40%, 17%);
    
    --color-Grayish-Blue: hsl(227, 12%, 61%);
    --color-Very-Dark-Blue:hsl(233, 12%, 13%);
    --color-Very-Pale-Red:hsl(13, 100%, 96%);
    --color-Vary-Light-Gray: hsl(0, 0%, 98%);
}

::before, ::after, *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.liste-nav{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    position: relative;
    
}

.liste-items{
    position: relative;
    width:40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.liste-items li{
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 700;
    margin:0 2px;
    color:var(--color-Dark-Blue);
}

.liste-nav img[class="burger"]{
    margin-right: 20px;
    display: none;
    cursor: pointer;
}

.liste-nav img[class="logo"]{
    margin-left: 20px;
}

@media screen and (max-width:975px) {
    .liste-items{
        position: absolute;
        top:8vh;
        height: 32vh;
        width:95%;
        flex-direction: column;
        z-index: 1;
        border-radius: 10px;
        background-color: white;
        display: none;
        left:20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    .liste-nav{
        justify-content: space-between;
    }

    .liste-nav button{
        display: none;
    }

    .liste-nav img[class="burger"]{
        display: block;
    }

    .active {
        display: flex;
    }
}

.liste-nav button, .presentation button, .slider-container button, .fourth-section button, .askquestions button:nth-child(1), .askquestions button:nth-child(2){ 
    cursor: pointer;
    color:white;
    background-color: var(--color-Bright-Red);
    width:115px;
    height:35px;
    line-height: 35px;
    border-radius: 9999px;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    font-weight: 700;
    padding: 0 5px;
}

button:hover{
    opacity: 0.8;
}

li:hover{
    opacity: 0.2;
}

.first-section {
    width: 100%;
    height: auto;
    display: flex;
    padding:15px 100px;
    justify-content: space-around;
    align-items: center;
}

.presentation {
    padding:10px;
    width:100vw;
    height:100vh;
}


.presentation h1{
    color:var(--color-Dark-Blue);
    font-size: 45px;
    width:50%;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px 0;
}

.presentation p{
    font-size: 16px;
    color:var(--color-Grayish-Blue);
    width:40%;
    padding:15px 0;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.6;
}

.stat{
    position: relative;
    display: flex;
}

.stat img:nth-child(1){
    transform: translate(-150px, 65px);
}

.stat img:nth-child(2){
    position: absolute;
    z-index: -1;
    transform: translate(-100px,-300px);
}

@media screen and (max-width:1379px) {

    .presentation h1{
        font-size: 30px;
        width:95%;
    }

    .presentation p{
        font-size:16px;
        width:100%;
    }

    .stat img:nth-child(1){
        transform:scale(0.7);
    }

    .stat img:nth-child(2){
        transform:translate(0, -360px) scale(0.8);
    }
    
}



@media screen and (max-width:975px) {
     
    .stat img:nth-child(1){
        transform:  translate(-100px,-270px) scale(0.45);
    }

    .stat img:nth-child(2){
        transform: translate(-110px,-500px) scale(0.55);
    }

    .first-section{
        position: relative;
        top:130px;
        left:60px;
        
    }

    .presentation{
        height: auto;
        margin-bottom:15px;
        position: absolute;
        top:135px;
        transform: translateX(-55px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width:812px){
    .presentation{
        transform: translate(-55px,60px);
    }
}


@media screen and (max-width:600px){
    .presentation{
        transform: translateX(-55px);
    }
}

/****************************************Second section styles Beginning**********************************/


.second-section{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding:0 80px;
    margin-top: 50px;
    
}

.content{
    padding:0 20px;
    width:30vw;
    height:30vh;
}

.content h3{
    font-size: 28px;
    padding:15px 0;
    color:var(--color-Dark-Blue);
    font-family: 'Times New Roman', Times, serif;
}

.content p{
    font-size: 16px;
    color:var(--color-Grayish-Blue);
    padding:15px 0;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.6;
}

.content-list{
    width:50vw;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
}

.great-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:50vw;
    height:70vh;
    padding:20px 0;
}

.title{
    display: flex;
    align-items: center;
    position: relative;
    width:70vw;
}

.title-number{
    width:50px;
    height: 30px;
    background-color: var(--color-Bright-Red);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 9999px;
    padding:10px;
    margin-right: 30px;
    color: #fff;
}


.title-header{
    width:30%;
    /* background-color: aliceblue; */
    font-size: 18px;
    font-weight: 700;
    color:var(--color-Dark-Blue);
    height:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title::after{
    content: '';
    display: none;
    width:120vw;
    height: 30px;
    position: absolute;
    background-color: var(--color-Bright-Red);
    border-radius: 9999px;
    opacity: 0.2;
}

.container-paraph{
    width:70vw;
    display: flex;
    align-items: center;
}

.container-paraph p{
    width:50%;
    line-height: 1.5;
    padding:10px 0;
    color: var(--color-Grayish-Blue);
}

@media screen and (max-width:840px) {
    .second-section{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width:100vw;
        padding: 0 20px;
        margin-top: 120px;
    }

    .content{
        width:100%;
    }

    .content h3{
        font-size: 20px;
    }
    .content p{
        width:80vw;
    }

    .content-list{
        width:100vw;
        height:100vh;
        align-items: flex-start;
        padding:0 40px;
    }

    .title-header {
        width:100%;
        font-size: 14px;
        font-weight: 700;
    }

    .title::after{
        content: '';
        display: block;
    }

    .container-paraph p{
        width:100%;
}

}


/*************************THIRD SECTION STYLE BEGINNING *************************/


.third-section{
    width:100vw;
    height: 75vh;
    margin: 100px 0 140px;
}

.third-section h2{
    text-align: center;
    font-size: 40px;
    color:var(--color-Dark-Blue);
    font-family: 'Times New Roman', Times, serif;
}

.slider-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-container button{
    margin-top:25px;
}

.select-slide{
    display: none;
    background-color: #fff;
    width:100px;
    height:20px;
    align-items: center;
    justify-content: space-evenly;
}

.select-slide .select-button{
    width:10px;
    height:10px;
    border: 1px solid var(--color-Bright-Red);
    border-radius:50%;
    cursor: pointer;
}

.sliders{
    width: 100%;
    height:500px;
    font-family: 'Times New Roman', Times, serif;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.slide{
    display: block;
    padding: 10px;
    width:300px;
    height:220px;
    background-color: #f4f4f4;
    /* position: absolute; */
}

.slide .image{
    width:100%;
    height:70px;
    display: flex;
    justify-content: center;
    transform: translateY(-25px);
}

.image img{
    width:70px;
    height: 70px;
}

.slide h3{
    text-align: center;
    color:var(--color-Dark-Blue);
}

.slide p{
    font-size: 16px;
    color:gray;
    line-height: 1.6;
}

.slide p::before{
    content: open-quote;
}

.slide p::after{
    content: close-quote;
}


.actived-btn{
    background-color: var(--color-Bright-Red);
}

@media screen and (max-width:811px){

    .third-section{
        margin: 100px 0 0;
    }
}


@media screen and (max-width:605px){

    .third-section{
        margin: 100px 0 140px;
    }

    .slide{
        display: none;
    }

    .slide .image{
        width:100%;
        height:120px;
        display: flex;
        justify-content: center;
        transform: translateY(-70px);
    }

    .actived{
        display: block;
    }
    
    .image img{
        width:120px;
        height: 120px;
    }

    .slide{
        position: absolute;
        width:100vw;
        height: 350px;
    }

    .select-slide{
        display: flex;
    }

    .slide p{
        font-size: 16px;
        color:gray;
        text-align: center;
        width:90%;
        padding:40px;
    }

    .slider-container button{
        margin-top: 30px;
    }

}

/********************Fourth section style  Beginning ******************************/

.fourth-section{
    width:100vw;
    height:30vh;
    /* margin: 40px 0 40px 0; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-Bright-Red);
    overflow: hidden;
}

.fourth-section .theTexts{
    position: relative;
    z-index: 2;
}

.fourth-section .thepattern{
    position: absolute;
    z-index: 1;
    transform: translate(-300px, -30px) scale(0.7);
    opacity:0.1;
    height: 55%;

    overflow-y: hidden;
}



.fourth-section .theTexts h2{
    color:#fff;
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
    font-weight: 700;
    text-align: center;
}


.fourth-section button{
    background-color: #fff;
    color:var(--color-Bright-Red);
}

@media screen and (max-width:812px) {
    .fourth-section .thepattern{
        transform: translate(-150px, -45px) scale(0.7);
    }
}

@media screen and (max-width:605px) {
    .fourth-section{
        flex-direction: column;
    }

    .fourth-section .theTexts{
        width:70%;
    }

    .fourth-section .theTexts h2{
        color:#fff;
        font-family: 'Times New Roman', Times, serif;
        font-size:35px;
        font-weight: 700;
        text-align: center;
    }

    .fourth-section .thepattern{
        display: none;
    }
}

.final-section{
    width:100vw;
    height:30vh;
    background-color:var(--really-dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:10px;
}

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:100%;
}

.section2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.liste-one li, .liste-two li{
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 700;
    /* margin:0 2px; */
    color:var(--color-Grayish-Blue);
    list-style-type: none;
    line-height: 2;
    padding:0 0 5px 0;
}

.section3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.askquestions{
    display: flex;
}

.askquestions input, .askquestions button{
    text-align: start;
    width:200px;
    color:var(--color-Grayish-Blue);
    background-color: #fff;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    height: 30px;
    outline: none;
    border: none;
}

.askquestions button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    color:#fff;
    background-color: var(--color-Bright-Red);
}


.section3 p {
    position: absolute;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    width:320px;
    transform: translateY(60px);
    color:var(--color-Grayish-Blue);
    text-align: end;
    padding: 0 15px;
}

@media screen and (max-width:700px) {
    .final-section{
        flex-direction: column;
        height:60vh;
    }

    .section3{
        order: 1;
    }

    .section2{
        order: 2;

        width: 100%;
    }

    .section1{
        order: 3;
    }

    .section3 p{
        top:650%;
        text-align: left;
    }

    .section3 .askquestions{
        top:0%;
    }

    .section1 .sites{
        order:1;
        justify-content: center;
    }

    .sites img{
        margin-right: 30px;
    }

    .section1 > img{
        order:2;
    }

    .liste-one li, .liste-two li{
        font-size: 12px;
        padding: 10px;
        line-height: 1.6;
    }

    
}


